Package: com.frostbitee08.swipetodeleteclock
Name: Swipe to Delete Clock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
